<h2>Creating new group</h2>
<%= form_for(@new_group) do |f| %>
	<label>Name:<%= f.text_field :name %><br /></label>
	<%= hidden_field_tag("myid", @employee.id) %>
	<%= f.submit %>
<% end %>
<div id="search_employee">
		<%= render :partial => 'search_employees' %>
</div><!-- /search_employee -->
<div id="group_members">
<p>p</p>
</div>
