<html>
	<head>
	  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
		<script type="text/javascript" charset="utf-8">
			$(function(){
			    ws = new WebSocket("ws://localhost:51234");
			    var id = <%= @group_id %>
			    ws.onmessage = function(evt) {
			        $("#posts").prepend("<div>"+ evt.data +"</div>");
			    };
			
			    ws.onclose = function() {
			        console.log("closing...-client side")
			    };
			
			    ws.onopen = function() {
			    	var grp_id = <%= @group_id %>
					var emp_id = <%= @employee_id %>
			        var data_json = {
			        				  "channel":{"id":grp_id},
			        				  "post":{"message":"", "employee_id":emp_id, "group_id":grp_id}
			        				};
			        var data_str = JSON.stringify(data_json);
			        ws.send(data_str);
			    };		    	
			});
			
			function submit_post(f){
				var grp_id = <%= @group_id %>
				var emp_id = <%= @employee_id %>
			    var val = $("#input").val();
			    var data_json = {
			        			  "channel":{"id":grp_id},
			        		      "post":{"message":val, "employee_id":emp_id, "group_id":grp_id}
			        			};
		        var data_str = JSON.stringify(data_json);
		        // Send data to websocket
	            ws.send(data_str);
		        $("#input").val("");
		   	}
		</script>
	</head>
 	<body>
   		<%= @group_id %>
	    <input id="input" type="text" />
	    <input id="submit_post" type="button" value="投稿" onclick="submit_post();"/>
	    <div id="msg"></div>
		<%#
		  ### When :collection is passed array object, partial file takes each element of array and sets it to local variable with the name of partial file.
		  ### In this case, partial file "_post.html.erb" creates variable "post" with each element of "@posts". Then it renders partial page with each "page".
		%>
		<div id="posts" >
			<%= render :partial => "/post/each_post", :collection => @posts %>
		</div>
	</body>
</html>
