<li class="post" name=<%= each_post.id %>>
	<div class="post_header">
		<span class="post_header_image">
			<%= image_tag each_post.employee.icon_url(:thumb).to_s, :align => "middle" if each_post.employee.icon? %>
		</span>
		<span class="post_header_senderinfo">
			<%= each_post.employee.name %> wrote at: <%= each_post.created_at.to_s(:db) %>
		</span>
		<div class="delete_post"><input class="delete_post_button" type="image" src="/assets/close_button.png" name=<%= each_post.id %>></div>
	</div>
	<div class="post_image">
		<%= image_tag each_post.image_url.to_s if each_post.image? %>
	</div>
	<div class="post_message">
		<%= simple_format(h(each_post.message)) %>
	</div>
</li>
