<%= render :template => 'layouts/application' %>
<div id="employees_groups_posts_template" style="background-color : #AAEEDD">
	<div id="display_name">
		Name: <%= @employee.name %>
	</div>
	<div id ="add_group_button" >
		<%= link_to "Add new group", new_employee_group_path(@employee.id) %>
	</div>
	<div id="display_group_list">
		<table>
			<div id="subscribing_groups">
			Your groups
			<% @groups.each do |g| %>
				<tr>
				<% if g.id %>
					<td>id: <%= g.id %></td>	
					<td><%= link_to g.name, employee_group_path(@employee.id, g.id) %></td>
				<% end %>
				</tr>
			<% end %>
			</div>
		</table>
	</div>
</div>
<div id="display_posts">
</div>
<div id="display_action_template" style="background-color : #E5E5E5">
<%= yield %>
</div>
